/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #000;
    color: #fff;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

/* Video Section */
#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2rem;
}

/* Gallery Section */
#gallery {
    text-align: center;
    padding: 50px 20px;
}

#gallery h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.images img {
    width: 45%;
    margin: 2.5%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
